.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cat{
    width: 100px;
}

.cats-list-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 66px;
    margin-top: 16px;
    background-color: #ccc;
    padding: 5px;
    gap: 8px;
}

.cat{
    transition: .2s;
    cursor: pointer;
}

.cat:hover{
border: 1px solid black;
}